.committee-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
    flex-flow: row wrap
}
.committee-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 50vh;
    width: 300px;
    /* border: 1px solid red; */
}
.committee-container .member_img{
    width: 200px;
    height: 200px;
}
.committee-container .member_head{
    text-align: center;
    margin: 0px;
    width: 200px;
    font-size: 1.2rem;
    font-weight: 600;
}
.committee-container .member_role{
    margin: 0px;
    text-align: center;
}
.underline{
    width: 70px;
    border-top: 4px solid green;
}
.underline::after{
    content: "";
}
